
:host {
  display: table !important;
}

$avatar-background-color: #ff9900;
$avatar-size: 30px;

.avatar {
  width: $avatar-size;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  background-color: $avatar-background-color;
  transition: 1s all;
  overflow: hidden;
  
}

.avatar-letter {
  color: white;
  text-transform: uppercase;
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
  top: -5px;
  font-size: 20px !important;
}

.avatar-img {
  height: auto;
  width: 100%;
}