

<h2 class="mat-h2 modal-title">{{ 'avatar.change_avatar' | translate }}</h2>

<app-file-upload
    *ngIf="state == 'fileSelecting'"
    #fileUploader
    [accepts]="'image/jpeg, image/png, image/jpg, image/bmp'"
    [multiple]="false"
    [maxSize]="MAX_FILE_SIZE"
    [required]="true"
    (files)="onFileChosen($event)">
</app-file-upload>
<image-cropper
    *ngIf="state == 'cropping'"
    [imageFileChanged]="selectedFile"
    [maintainAspectRatio]="true"
    [aspectRatio]="2 / 2"
    [resizeToWidth]="100"
    format="jpg"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()">
</image-cropper>

<img  *ngIf="state == 'cropping'" [src]="croppedImage" />

<div class="modal-actions-container">
    <div class="spacer"></div>
    <button mat-button>
        {{ 'avatar.cancel' | translate }}
    </button>
    <button [disabled]="fileUploaderFormControl == null || !fileUploaderFormControl.valid" mat-button color="primary">
        {{ 'avatar.submit' | translate }}
    </button>
</div>