@import "../offer.scss";
@import "../../../assets/styles/variables.scss";

.offer-list-element {
  background-color: $card-backgroud;
}

.offer-title {
  margin-left: $card-padding;
}

.offer-created {
  text-align: right;
}

.price {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 8px 20px 8px 20px;
  border-radius: 1000px;
  color: #ffffff;
  position: relative;
  top: -8px;
  cursor: pointer;
}

.last-price {
  cursor: pointer;
  text-decoration: line-through;
  padding: 16px;
  position: relative;
  top: -8px;
  opacity: 0.75;
}

.price-row {
  text-align: right;
}

.offer-photo-wrapper {
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;

  .offer-photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    margin: 0 !important;
  }
}

.card-row {
  min-height: 50%;
}

.content-wrapper {
  padding: 0 !important;

  .content {
    min-height: 100%;
    height: 100%;
    position: relative;
  }
}

.action-container {
  text-align: right;
  padding-right: 16px;
  padding-bottom: 0 !important;

  .see-offer-button {
    margin-left: auto;
  }

  .see-prices-history-button {
    margin-left: auto;
    margin-right: 10px;
  }
}

.loading-placeholder {
  .text {
    text-align: center;
    display: block;
  }
}

.offer-price-refresh {
  margin-right: 10px;
}

.example-tooltip-red {
  background: #b71c1c !important;
}

.md-tooltip .md-content {
  position: relative;
  opacity: 1;
  background: #b71c1c !important;
}

.retry-button {
  display: block;
  margin: auto;
}


.date-range {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-left: 7px;
  position: relative;
  top: -2px;

  .date-range-icon {
    position: relative;
    top: 5px;
    margin-left: 1px;
  }
}


.loading-placeholder {
  button {
    display: block;
    margin: auto;
  }
}


@include media-phone {
  .offer-photo-wrapper {
    height: 150px;

    .offer-photo {
      width: 100% !important;
      height: auto !important;
    }
  }

  .action-container {
    .col {
      margin: 10px !important;
    }
  }
}