
@mixin offer-list-element($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);

  .price {
    background-color: mat-color($primary);
    color: #ffffff;
  }
}
