.travel-header {
  cursor: unset;
  width: 100% !important;
  max-width: 100% !important;
}

.travel-list-element {
    border-radius: 0;
    display: flex;
    height: 40px;
}

.menu-button {
    margin-left: auto;
}

mat-card-title {
    margin-left: 16px;
}