<div>
    <app-navbar (onMenuClick)="sidenav.toggle()"></app-navbar>
    <mat-sidenav-container class="main-container">
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
            (closed)="events.push('close!')">
            Sidenav content
        </mat-sidenav>
        <mat-sidenav-content class="container">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <!-- Side Panel -->
    <ngx-aside #sidePanel
           [title]="'Title'"
           [cancelButtonTitle]="'Discard'"
           [submitButtonTitle]="'Send'"

           [closeOnEscape]="false"
           [showOverlay]="false"

           [showDefaultFooter]="true"
           [showDefaultHeader]="true">
           <div #sidePanelContainer style="width: 100vw"></div>
    </ngx-aside>
</div>
