<mat-card class="travel-list-element travel-add-element">
    <button (click)="onAddButtonClick()" *ngIf="collapsed" class="add-travel-button" mat-flat-button color="primary">Dodaj podróż</button>
    <mat-card-content *ngIf="!collapsed">
        <div class="travel-add-form">
            <mat-form-field class="grid travel-name">
                <input #titleInput [(ngModel)]="travelName" matInput placeholder="Nazwa">
            </mat-form-field>
            <div class="grid buttons-container">
                <div class="col"></div>
                <button (click)="onSaveButtonClick()" mat-flat-button color="primary">Zapisz</button>
                <button (click)="clearForm()" mat-flat-button >Anuluj</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>