<div class="travel-add travel-list-element">
    <app-expandable-button class="travel-list-element" [collapsed]="collapsed" [text]="'Dodaj podróż'"
        (onClick)="onAddButtonClick()">
        <div class="travel-add-form">
            <mat-form-field class="grid travel-name">
                <input #titleInput [(ngModel)]="travelName" matInput placeholder="Nazwa"
                    (keyup.enter)="onSaveButtonClick()">
            </mat-form-field>
            <div class="grid buttons-container">
                <div class="col"></div>
                <button (click)="onSaveButtonClick()" mat-flat-button color="primary">Zapisz</button>
                <button (click)="clearForm()" mat-flat-button>Anuluj</button>
            </div>
        </div>
    </app-expandable-button>
</div>