$background-dark: #424242;

$theme-primary: mat-palette($mat-indigo, 700, 300, 900);
$theme-accent: mat-palette($mat-pink);
$theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$dark-theme: mat-dark-theme(
    $theme-primary,
    $theme-accent,
    $theme-warn,
);