
$side-bar-width: 250px;

$tablet-width: 768px;
$desktop-width: 1024px;

$phone-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;


@mixin media-phone {
  @media (min-width: 0) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

$list-elements-width: 80%;
$card-backgroud: #ffffffe8;
$card-padding: 16px;

$color-error: #b00030;
$color-info: #bbdefb;
$color-success: green;


.more-info-icon {
  cursor: pointer;
}