@import '~@angular/material/theming';
@import '../../assets/styles/variables.scss';

.navbar {
    position: relative;
    z-index: 100;
    @include mat-elevation(2);
}

.menu-button {
  margin-right: 20px;
}