<h1 mat-dialog-title>{{ 'settings.user_settings.change_password.title' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="grid">
    <div>
      <!-- OLD PASSWORD -->
      <mat-form-field appearance="outline" class="form-field-full-width">
        <mat-label>{{ 'settings.user_settings.change_password.old_password' | translate }}</mat-label>
        <input type="password" formControlName="oldPassword" matInput>
      </mat-form-field>
      <!-- NEW PASSWORD -->
      <mat-form-field appearance="outline" class="form-field-full-width">
        <mat-label>{{ 'settings.user_settings.change_password.new_password' | translate }}</mat-label>
        <input type="password" formControlName="newPassword" matInput>
      </mat-form-field>
      <!-- NEW PASSWORD -->
      <mat-form-field appearance="outline" class="form-field-full-width">
        <mat-label>{{ 'settings.user_settings.change_password.repeat_new_password' | translate }}</mat-label>
        <input type="password" formControlName="newPasswordRepeated" matInput>
      </mat-form-field>
      <mat-error *ngIf="form.hasError('passwords_not_the_same')">
        {{ 'settings.user_settings.change_password.passwords_not_the_same' | translate }}
      </mat-error>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onDismiss()">
    {{ 'settings.user_settings.change_password.cancel' | translate }}
  </button>
  <button mat-button color="primary" [disabled]="!form.touched || !form.valid" (click)="onSubmit()" cdkFocusInitial>
    {{ 'settings.user_settings.change_password.change_password' | translate }}
  </button>
</div>