@import '../../assets/styles/variables.scss';
@import './variables.scss';

.sider-drawer-header {
    height: 100px;
}

.small-label {
    transition: opacity 0.1s;
    opacity: 1;
}


.collapsed {
    width: $side-bar-width-collapsed !important;
    .side-drawer-elements {
        li {
            padding-top: 10px !important;
            padding-bottom: 45px !important;
            .small-label {
                opacity: 1 !important;
            }
        }
    }
}

.opened {
    width: $side-bar-width-expanded !important;
    .side-drawer-elements {
        li {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            .small-label {
                opacity: 0 !important;
            }
        }
    }
}


.side-drawer-container {
    transition: width 0.2s;
    height: 100vh;
    position: relative;
    z-index: 10;
    width: $side-bar-width;
    overflow-x: hidden;
    overflow-y: hidden;
}

.side-drawer-elements {
    margin-top: 0 !important;
    list-style: none;
}

.side-drawer-inner {
    width: $side-bar-width;
}

ul.side-drawer-elements {
    margin-left: -40px;

    li {
        z-index: 10;
        opacity: 0.7;
        cursor: pointer;
        padding-left: 23px;
        transition: all 0.2s;
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;

        .label {
            position: relative;
            bottom: 4.5px;
        }

        .small-label {
            position: absolute;
            width: calc(#{$side-bar-width-collapsed} - 20px);
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 10px;
            margin-right: 10px;
            top: 40px;
            text-align: center;
            left: 0;
            opacity: 0;
        }
        .item-icon {
            position: relative;
            top: 2px;
            margin-right: 25px;
        }
    }
}

.curtain {
    transition: all 0.1s;
    background-color: $side-bar-primary-color;
    border-radius: 30px;
    width: calc(100% + 100px);
    position: absolute;
    left: -100px;
    height: calc(100% + 100px);
    position: absolute;
    top: 0;
}

.curtain-upper {
    top: -100%;
}

.curtain-down {
}

.active {
    opacity: 1 !important;
}

.opened {
    .active {
        width: 214px;
        border-radius: 400px;
        left: -22px;
        padding-left: 45px;
        .border {
            left: 22px;
        }
    }
}

.bottom-nav {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    color: $side-bar-backgourd-color;
}

.border {
    width: 4px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    transition: all 0.3s;
}

.active {
    .border {
        width: 5px;
    }
}

.side-drawer-element-popup {
    background-color: black;
    color: white;
    border-radius: 5px;
}