@import "~@angular/material/theming";
@import "../../../assets/styles/variables.scss";

.navbar {
  position: relative;
  z-index: 100;
  @include mat-elevation(2);
}

.menu-button {
  margin-right: 20px;
}

.spacer {
  margin-left: auto;
}

.navbar-element {
  display: block;
  margin-right: 10px;
}

.avatar {
  position: relative;
  margin: auto;
  display: block;
}

.username-header {
  padding: 16px;
  border-bottom: 1px solid #8080805c;
  padding-bottom: 10px;
  margin-bottom: 0px;
  min-width: 300px;
}

.navbar-logo {
  height: 54px;
  margin-right: 5px;
}

.option-text {
  margin-left: auto;
}

.avatar-big {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.user-popover {
  padding: 0 !important;
}

.app-loading-bar {
  z-index: 10;
}