<mat-toolbar class="navbar" color="primary">
  <button *ngIf="loggedIn | async" (click)="onMenuButtonClick()" class="menu-button" mat-icon-button
    aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/images/logo.svg" alt="logo" class="navbar-logo">
  Travel Monitor
  <div class="spacer"></div>
  <!-- Theme selection component -->
  <app-theme-switch class="navbar-element"></app-theme-switch>
  <!-- Notifications -->
  <app-notifications-button *ngIf="loggedIn | async" class="navbar-element"></app-notifications-button>
  <!-- User avatar -->
  <button (click)="userPopupOpened = true;" *ngIf="loggedIn | async" mat-icon-button [mdePopoverTriggerFor]="userPopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
    <app-user-avatar class="avatar" [user]="user | async"></app-user-avatar>
  </button>

  <mde-popover #userPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
      <mat-card *ngIf="(user | async) != undefined" class="user-popover">
          <div class="mat-h2 username-header">
              <div class="grid">
                <div class="col-3">
                  <app-user-avatar [user]="user | async" [size]="'60px'"></app-user-avatar>
                </div>
                <div class="col-8">
                  <div>{{ (user | async).username }}</div>
                  <div>
                    <span>{{ (user | async).email }}</span>
                  </div>
                </div>
              </div>
            </div>
            <button mat-menu-item (click)="onLogoutClick()">
              <mat-icon>exit_to_app</mat-icon>
              <span class="option-text">Wyloguj się</span>
            </button>
            <button mat-menu-item (click)="onProfileEditClick()">
              <mat-icon>person</mat-icon>
              <span class="option-text">Edytuj profil</span>
            </button>
      </mat-card>
  </mde-popover>
</mat-toolbar>
<mat-progress-bar *ngIf="appLoading | async" [color]="'accent'" class="app-loading-bar" mode="indeterminate"></mat-progress-bar>